*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #736153;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #bb874f;
}

.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo a{
  text-decoration: none;
  color: #111;
}

a img{
  width: 50px;
}

.sidepanel {
  height: 250px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 3%;
  /* padding: 3%; */
  background-color: #ffe7cd;
}

.content h1{
  padding: 10px;
}

table, th, td{
  border: solid 1px transparent;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

table{
  margin-top: 10px;
}

tr:nth-child(even) {
  background-color: #edd7bf;
}

.aksi{
  display: flex;
  justify-content: center;
  gap: 5px;
}

input[type = "button"]{
  padding: 10px;
  border-radius: 15px;
  border: solid 1px black;
}

.edit{
  /* margin-top: 10px; */
  padding: 10px;
}